body {
    color: black aqua
}

#heading {
    color: green
}

.task-row {
    color: orchid;
}

#middle-task {
    text-decoration: line-through;
    display: none;
}

#div1 {
    border: 2px solid red;
    color: red;
    width: 300px;
}

#div2 {
    margin: 10px 0 0 0;
    border: 2px solid green;
    color: green;
}

.myspan {
    border: 4px solid olive
}